:root {
  --bgcolor1: #ffffff;
  --bgcolor2: #f5f5f5;
  --bgcolor3: #0d2e1d;
  --colorfont1: #828282;
  --colorfont2: #0d2e1d;
  --colorfont3: #3a3633;
  --colorfont4: #fbbe3f;
  /* fuente */
  --fuente1: "Montserrat", sans-serif;
  --fuente2: "Roboto", sans-serif;
  /* tamaño de fuente */
  --fs1: 12px;
  --fs2: 14px;
  --fs3: 16px;
  --fs4: 18px;
  --fs5: 20px;
  --fs6: 26px;
  /* interlineado */
  --lh1: 1.8;
  --lh2: 2;
}
/** normalizador de estilos css **/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
a {
  color: inherit;
}
img {
  height: block;
}
h2 {
  font-weight: 800;
  font-size: var(--fs6);
  text-transform: uppercase;
  color: var(--colorfont3);
}
h3 {
  font-weight: 600;
  font-size: var(--fs2);
  text-transform: uppercase;
  padding-left: 10px;
}
.img-fluid {
  width: 100%;
  height: auto;
  display: block;
}
.video-fluid {
  width: 100%;
  aspect-ratio: 16/9;
  display: block;
}
/* fin normalizador */
body {
  font-family: var(--fuente1);
  font-size: var(--fs2);
  line-height: var(--lh1);
  font-weight: 400;
}

header {
  display: flex;
  align-items: center;
}
.txt-head {
  color: var(--colorfont4);
  font-weight: 400;
  font-size: var(--fs5);
  padding-left: 36px;
}
button {
  font-family: var(--fuente2);
  background-color: var(--colorfont4);
  padding: 20px;
  text-transform: uppercase;
  border: 0;
  color: var(--colorfont3);
}
.container {
  max-width: 85%;
  margin: 0 auto;
}
/* menu hamburguesa */
.menu-toggle{
  display: none; /* oculta el boton */
  font-size: 2rem;
}
.navbar {
  display: flex;
  flex-direction: row;
  background-color: var(--bgcolor3);
  padding: 20px;
  position: sticky;
  top: 0;
}
.navbar-link {
  color: var(--bgcolor2);
  font-size: var(--fs2);
  font-weight: 500;
  text-transform: uppercase;
}
.navbar-link:hover {
  color: var(--colorfont4);
}
.nav-link-active {
  color: var(--colorfont4);
}
.title-pre-team{
  display: flex;
  flex-direction: row;
  padding: 40px 0;
}
#team {
  background-color: var(--bgcolor2);
  padding: 40px 0;
}
.card-team {
  background-color: var(--colorfont3);
  width: 350px;
}
.card-team-text {
  padding: 30px;
  color: var(--bgcolor2);
}
#quienes {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.quienes-section {
  display: flex;
  background-color: var(--bgcolor2);
}
.mision-img {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
#stadistics {
  background-color: var(--bgcolor2);
  text-align: center;
}
.section-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}
.service-card {
  background-color: var(--bgcolor2);
  flex-basis: 0;
  margin-bottom: 20px;
}
#trabajos-realizados {
  background-color: var(--bgcolor2);
}
#testimony {
  background-image: url("../../assets/img/bg-testimony.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 70px 0;
}
.testimony-card {
  background-color: var(--bgcolor2);
  color: var(--colorfont3);
  width: 500px;
}
.round {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
ul li {
  list-style: none;
}
ul li::before {
  content: "›";
  padding-right: 10px;
}
footer {
  background-color: var(--bgcolor3);
  padding: 50px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
.footer-sec {
  color: var(--bgcolor1);
  min-width: 100px;
  max-width: 200px;
  font-size: var(--fs1);
}
/* page title */
#page-title-servicios {
  background: #aacfdf;
  background: linear-gradient(
      180deg,
      rgba(170, 207, 223, 1) 0%,
      rgba(237, 221, 83, 0) 100%
    ),
    url(../img/titles/title-servicio.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#page-title-portafolio {
  background: #aacfdf;
  background: linear-gradient(
      180deg,
      rgba(170, 207, 223, 1) 0%,
      rgba(237, 221, 83, 0) 100%
    ),
    url(../img/titles/title-portafolio.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#page-title-nosotros {
  background: #aacfdf;
  background: linear-gradient(
      180deg,
      rgba(170, 207, 223, 1) 0%,
      rgba(237, 221, 83, 0) 100%
    ),
    url(../img/titles/title-nosotros.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#page-title-noticias {
  background: #aacfdf;
  background: linear-gradient(
      180deg,
      rgba(170, 207, 223, 1) 0%,
      rgba(237, 221, 83, 0) 100%
    ),
    url(../img/titles/title-noticias.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#page-title-contacto {
  background: #aacfdf;
  background: linear-gradient(
      180deg,
      rgba(170, 207, 223, 1) 0%,
      rgba(237, 221, 83, 0) 100%
    ),
    url(../img/titles/title-contacto.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#page-title-servicios a:hover,
#page-title-portafolio a:hover,
#page-title-nosotros a:hover,
#page-title-noticias a:hover,
#page-title-contacto a:hover {
  color: var(--colorfont4);
}
.form-control{
  width: 100%;
  margin-bottom: 15px;
  padding: 10px 5px;
  font: inherit;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--colorfont3);
}
.form-contact .row{
  padding-right: 30px;
  align-items: top;
}
.form-contact textarea{
  resize: none;
}
.form-link-acepto{
  color: var(--colorfont4);
}
.form-submit{
  background-color: var(--colorfont4);
  color: var(--bgcolor1);
  padding: 15px 30px;
  font: inherit;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.form-submit:hover{
  background-color: var(--bgcolor3);
}
/** Flexbox **/
.row {
  display: flex;
  flex-wrap: wrap;
}
.col {
  flex-basis: 0;
  flex-grow: 1;
}
.col-10 {
  flex-basis: 10%;
  flex-grow: 10%;
}
.col-20 {
  flex-basis: 20%;
  flex-grow: 20%;
}
.col-30 {
  flex-basis: 30%;
  max-width: 30%;
}
.col-40 {
  flex-basis: 40%;
  max-width: 40%;
}
.col-50 {
  flex-basis: 50%;
  max-width: 50%;
}
.col-60 {
  flex-basis: 60%;
  max-width: 60%;
}
.col-70 {
  flex-basis: 70%;
  max-width: 70%;
}
.col-80 {
  flex-basis: 80%;
  max-width: 80%;
}
.col-90 {
  flex-basis: 30%;
  max-width: 30%;
}
.col-100{
  flex-basis: 100%;
  max-width: 100%;
}
.gap20 {
  gap: 20px;
}
.space-around {
  justify-content: space-around;
}
.space-between {
  justify-content: space-between;
}
.space-evenly {
  justify-content: space-evenly;
}
/* padding */
.p10 {
  padding: 10px;
}
.p20 {
  padding: 20px;
}
.p30 {
  padding: 30px;
}
.p40 {
  padding: 40px;
}
.pv10 {
  padding: 10px 0;
}
.pv20 {
  padding: 20px 0;
}
.pv40 {
  padding: 40px 0;
}
.pv50 {
  padding: 50px 0;
}
.ph30 {
  padding: 0 30px;
}
/* colores de iconos */
.color-icon-gray {
  color: var(--colorfont1);
}
.color-icon-green {
  color: var(--colorfont2);
}
.color-icon-orange {
  color: var(--colorfont4);
}
.color-icon-white {
  color: var(--bgcolor1);
}
/* scroll to top */
#scroll-up-btn {
  padding: 10px;
  border: 1px solid var(--bgcolor1);
  background: var(--colorfont2);
  color: var(--color2);
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: translate 0.4s, ease-in-out;
  -webkit-transition: translate 0.4s, ease-in-out;
  -moz-transition: translate 0.4s, ease-in-out;
  -ms-transition: translate 0.4s, ease-in-out;
  -o-transition: translate 0.4s, ease-in-out;
}
#scroll-up-btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px var(--colorfont1);
}
.social-icons i:hover{
  color: var(--colorfont4);
}
.foot-servicios{
  background-image: url("../../assets/img/bg-testimony.jpg");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 30px;
}
.icon-social-contact{
  background-color:var(--bgcolor3);
  display: block;
  padding: 20px 0;
  text-align: center;
  border: 1px solid white; 
  transition: all 0.3s ease; 
}
.icon-social-contact:hover{
  background-color: transparent;
  border: 1px solid var(--colorfont4);
}
.icon-social-contact:hover i{
  color:var(--colorfont4)
}
/* Activar grid container */
.grid-service{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px 0;
}
.grid-card-service{
  border: 1px solid var(--color4);
}
.grid-card-service h3{
  text-align: center;
  color: var(--color1);
}
 .grid-card-service img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
}
.grid-card-service img:hover{
  transform: scale(1.1);
}
/* estilizar tabla */
.table-fees{
  width: 100%;
  border-collapse: collapse;
  margin: 30px 0;
}
.table-fees thead{
  background-color: var(--colorfont4);
  color: var(--color2);
}
.table-fees th, td{
  padding: 10px;
  border: 1px solid var(--colorfont4);
  text-align: center;
  
}
.table-fees td img{
  width: 50px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.table-fees tfoot td{
  text-align: end;
  font-weight: bold;
  font-style: italic;
}
.table-fees caption{
  caption-side: bottom;
}

/* Responsive XL - 1200px*/
@media screen and (max-width:1200px) {
  .padding-xl{
      padding: 70px 0;
  }
  .txt-head{
    font-size: var(--fs4);
  }
  .quienes-section{
    flex-direction: column;
  }
}
/* Responsive MD - 992px */
@media screen and (max-width:992px) {
  .txt-head{
    font-size: var(--fs2);
  }
  .section-services{
    gap:1px
  }
  .testimony-card{
    margin-bottom: 20px;
  }
}
/* Responsive SM - 768px */
@media screen and (max-width:768px) {
  .menu-toggle{
      display:initial;
  }
  .navbar{
    flex-direction: column;
    width: 33%;
    background-color: var(--bgcolor3);
    text-align: center;
    /* posicionar menu */
    position:absolute;
    top: 160px;
    left: 0;
    /* ocultar menu */
    display: none;
    z-index: 1000;
  }
  .navbar.show{
      display: flex;
  }
  .navbar-link{
      color: var(--bgcolor2);
      padding: 0.8rem 0;
  }
  .container{
      max-width: 90%;
  } 
  .videos-promocionales .col{
      flex-basis: 100%;
      max-width: 100%;
      margin-bottom: 30px;
  }
  .padding-xl{
      padding: 45px 0;
  }
  .grid-service{
      grid-template-columns: repeat(2, 1fr);
  }
  h3{
    font-size: var(--fs1);
  }
  .form-contact .col{
      flex-basis: 100%;
      max-width: 100%;
      margin: 10px 0;
  }
  #trabajos-realizados .row{
    flex-direction: column;
  }
  #quienes{
    flex-direction: column;
  }
  .quienes-section{
    flex-direction: column;
  }

}
/* Responsive XSM - 576px */
@media screen and (max-width:576px) {
  .container{
      max-width: 95%;
  }
  h1, h2, h3, h5{
      text-align: center;
  }
  h2{
    font-size: var(--fs6);
  }
  h3{
    font-size: var(--fs2);
  }
  header .fa-clock, header .fa-square-phone{
    display: none;
  }
  header h3{
    padding: 0;
    text-align: left;
  }
  .txt-head{
    font-size: var(--fs1);
    color: var(--colorfont3);
    padding: 0;
  }
  #stadistics i{
    font-size: 2rem;
  }
  #stadistics p{
    font-size: var(--fs1);
  }
  .title-pre-team{
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  body{
      font-size: 0.9rem;
  }
  .card-team{
    margin-bottom: 1rem;
  }
  #service .col{
      flex-basis: 100%;
      max-width: 100%;
      padding-bottom: 20px;
  }
  .grid-service{
      grid-template-columns: repeat(1, 1fr);
  }
  #valores .col{
      flex-basis: 100%;
      max-width: 100%;
  }
  footer{
      justify-content: space-around;
  }
}