:root{
    --bgcolor1: #ffffff;
    --bgcolor2: #f5f5f5;
    --bgcolor3: #0d2e1d;
    --colorfont1: #828282;
    --colorfont2: #0d2e1d;
    --colorfont3: #3a3633;
    --colorfont4: #fbbe3f;
    /* fuente */
    --fuente1: "Montserrat", sans-serif;
    --fuente2: "Roboto", sans-serif;
    /* tamaño de fuente */
    --fs1:12px;
    --fs2:14px;
    --fs3:16px;
    --fs4:18px;
    --fs5:20px;
    --fs6:26px;
    /* interlineado */
    --lh1:1.8;
    --lh2:2;
}
/* normalize */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
a{
    color: inherit;
}
img{
    height: block;
}
h2{
    font-weight: 800;
    font-size: var(--fs6);
    text-transform: uppercase;
    color: var(--colorfont3);
}
h3{
    font-weight: 600;
    font-size: var(--fs2);
    text-transform: uppercase;
    padding-left: 10px;
}
body{
    font-family: var(--fuente1);
    font-size: var(--fs2);
    line-height: var(--lh1);
    font-weight: 400;
}
.txt-head{
    color: var(--colorfont4);
    font-weight: 400;
    font-size: var(--fs5);
    padding-left: 36px;
}
header{
    display: flex;
    align-items: center;
}
footer{
    background-color: var(--bgcolor3);
    padding: 50px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}
button{
    font-family: var(--fuente2);
    background-color: var(--colorfont4);
    padding: 20px;
    text-transform: uppercase;
    border: 0;
    color: var(--colorfont3);
}

.footer-sec{
    color: var(--bgcolor1);
    min-width: 100px;
    max-width: 200px;
    font-size: var(--fs1);
}
.container{
    max-width: 85%;
    margin: 0 auto;
}
.navbar{
    background-color: var(--bgcolor3);
    padding: 20px;
    display: flex;
    justify-content:space-evenly;
}
.navbar-link{
    color: var(--bgcolor2);
    font-size: var(--fs2);
    font-weight: 500;
    text-transform: uppercase;;
}
#team{
    background-color: var(--bgcolor2);
    display: flex;
    padding: 40px 0;
    justify-content: space-evenly;
}
.card-team{
    background-color: var(--colorfont3);
    width: 350px;
}
.card-team-text{
    padding: 30px;
    color: var(--bgcolor2);
}
#quienes{
    display: flex;
    justify-content:space-between;
    gap: 30px;
}
.quienes-section{
    display: flex;
    background-color: var(--bgcolor2);
}
.mision-img{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#stadistics{
    background-color: var(--bgcolor2);
}
.section-services{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.service-card{
    background-color: var(--bgcolor2);
    flex-basis: 0;
    margin-bottom: 20px;
}
#testimony{
    background-image: url('../../assets/img/bg-testimony.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 70px 0;
}
.testimony-cards{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.testimony-cards-item{
    background-color: var(--bgcolor2);
    color: var(--colorfont3);
    width: 500px;
}
.round{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
ul li{
    list-style: none;
}
ul li::before{
    content: "›";
    padding-right: 10px;
}
/* Flexbox */
.row{
    display: flex;
    flex-wrap: wrap;
}
.row-around{
    justify-content: space-around;
}
.col{
    flex-basis: 0;
    flex-grow: 1;
}
.col-20{
    flex-basis: 20%;
    flex-grow: 20%;
}
.col-40{
    flex-basis: 40%;
    max-width: 40%;
}
.col-30{
    flex-basis: 30%;
    max-width: 30%;
}
.col-50{
    flex-basis: 50%;
    max-width: 50%;
}
.col-60{
    flex-basis: 60%;
    max-width: 60%;
}
.col-70{
    flex-basis: 70%;
    max-width: 70%;
}
.col-80{
    flex-basis: 80%;
    max-width: 80%;
}
/* padding */
.p10{
    padding: 10px;
}
.pv10{
    padding: 10px 0;
}
.pv20{
    padding: 20px 0;
}
.p20{
    padding: 20px;
}
.p30{
    padding: 30px;
}
.ph30{
    padding: 0 30px;
}
.p40{
    padding: 40px;
}
.pv40{
    padding: 40px 0;
}
.pv50{
    padding: 50px 0;
}
.gap20{
    gap: 20px;
}
/* icons */
.icon-gray{
    color: var(--colorfont1);
}
.icon-green{
    color: var(--colorfont2);
}
.icon-orange{
    color: var(--colorfont4);
}